{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Sign Up | Smart NFC Card{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="card shadow p-4" style="max-width: 400px; margin: auto;">
    <h3 class="text-center mb-3">Create Account</h3>

    <form method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label>Email</label>
        {{ form.email|add_class:"form-control" }}
      </div>

      <div class="mb-3">
        <label>Password</label>
        {{ form.password1|add_class:"form-control" }}
      </div>

      <div class="mb-3">
        <label>Confirm Password</label>
        {{ form.password2|add_class:"form-control" }}
      </div>

      <button type="submit" class="btn btn-primary w-100">Sign Up</button>

      <p class="text-center mt-3">
        Already have an account?
        <a href="{% url 'app_accounts:login' %}">Login</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
