{% extends "pages/page_base.html" %}
{% block title %}Job Details{% endblock %}
{% block page_content %}

<h4>{{ job.title }}</h4>
<p><b>Company:</b> {{ job.company.name }}</p>
<p><b>Type:</b> {{ job.get_job_type_display }}</p>
<p><b>Location:</b> {{ job.location }}</p>
<p><b>Salary:</b> {{ job.salary }}</p>

<hr>
<p>{{ job.description }}</p>

{% if already_applied %}
    <div class="alert alert-success mt-3">
        ✅ You have already applied for this job.
    </div>
{% else %}
<form method="post" enctype="multipart/form-data" class="mt-3">
    {% csrf_token %}
    <input type="text" name="phone" class="form-control mb-2" placeholder="Your Phone" required>
    <textarea name="message" class="form-control mb-2" placeholder="Message (optional)"></textarea>
    <input type="file" name="cv" class="form-control mb-3">

    <button class="btn btn-success">✅ Apply Now</button>
</form>
{% endif %}

{% endblock %}
