{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block content %}

<!-- ================= PAGE SPECIFIC CSS ================= -->
{% block page_css %}{% endblock %}

<!-- ================= PAGE HEADER ================= -->
{% include "pages/_page_header.html" %}

<!-- ================= PAGE CONTENT ================= -->
<div class="container">
    <div class="page-section">
        {% block page_content %}{% endblock %}
    </div>
</div>

<!-- ================= PAGE BASE JS ================= -->
<script src="{% static 'app_pages/js/page_base.js' %}"></script>

<!-- ================= PAGE SPECIFIC JS ================= -->
{% block page_js %}{% endblock %}

{% endblock %}
