{% extends "pages/page_base.html" %}
{% block title %}Available Jobs{% endblock %}
{% block page_content %}

<h3 class="mb-3">💼 Available Jobs</h3>

<table class="table table-bordered">
    <tr>
        <th>Company</th>
        <th>Title</th>
        <th>Type</th>
        <th>Location</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>

    {% for job in jobs %}
    <tr>
        <td>{{ job.company.name }}</td>
        <td>{{ job.title }}</td>
        <td>{{ job.get_job_type_display }}</td>
        <td>{{ job.location }}</td>
        <td>{{ job.salary }}</td>
        <td>
            <a href="{% url 'app_pages:job_details' job.id %}" class="btn btn-sm btn-primary">
                View & Apply
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
